@font-face {
    font-family: "Arodora Pro";
    src: url("../fonts/ArodoraPro-Light.otf") format("opentype");
}

@font-face {
    font-family: "NEXT ART";
    src: url("../fonts/NEXT ART_Bold.otf") format("opentype");
    src: url("../fonts/NEXT ART_Regular.otf") format("opentype");
    src: url("../fonts/NEXT ART_SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Nico Moji";
    src: url("../fonts/NicoMoji-Regular.ttf") format("opentype");
}