$white:             #ffffff;
$black:             #000000;
$light-gray:        #e4e4e4;
$blue:              #00C4F0;

$notebook_l-bp: 1440px;
$notebook_m-bp: 1150px;
$notebook-bp: 1024px;
$tablet-bp: 768px;
$mobile-bp: 425px;