@import "vendor/reset";
@import "vars";
@import "mixins";
@import "fonts";


body {
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);

    color: $light-gray;
    font-family: "Arodora Pro";
    font-size: 20px;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box
}



/* Blocks */
@import "blocks/container";

// header
@import "blocks/header";
@import "blocks/nav";
@import "blocks/burger";

//main
@import "blocks/intro";
@import "blocks/about";
@import "blocks/portfolio";

//footer
