header {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;

    margin-top: 26px;

    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__title {
    font-family: 'Nico Moji';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    margin-left: 10px;
}