.nav {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0 92px;

    position: relative;

    @include breakpoint($notebook_m-bp) {
        margin: 0 52px 0 92px;
    }

    @include breakpoint($notebook-bp) {
        margin: 0 16px 0 152px;
    }

    @include breakpoint($tablet-bp) {
        margin: 0 16px;
    }
}

.nav__list {
    width: 100%;
    max-width: 710px;

    display: flex;
    justify-content: space-between;

    @include breakpoint($tablet-bp) {
        display: none;
    }

    &--borger {
        height: 0;
        max-width: 100%;

        display: flex;

        position: absolute;
        top: 78px;
        left: 0;

        padding: 0 40px;

        overflow: hidden;

        background: $blue;

        transition: all 0.2s linear;

        .nav__link {
            color: #2c2c2c;
            font-weight: 700;
        }

        .show-nav & {
            height: auto;
            padding: 20px 40px;
        }

        @include breakpoint($mobile-bp) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.nav__item-one {
    transition: transform 0.25s linear;
}
.nav__item-two {
    transition: transform 0.5s linear;
}
.nav__item-three {
    transition: transform 0.75s linear;
}
.nav__item-four {
    transition: transform 1s linear;
}

.nav__item-one,
.nav__item-two,
.nav__item-three,
.nav__item-four {
    
    @include breakpoint($tablet-bp) {
        transform: translate(800px, 0);

        .show-nav & {
            transform: translate(0, 0);
        }
    }
}

.nav__item-one,
.nav__item-two,
.nav__item-three {
    @include breakpoint($mobile-bp) {

        .show-nav & {
            margin-bottom: 7px;
        }
    }
}



.nav__link {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: $light-gray;
    text-decoration: none;

    position: relative;

    &--wrap {
        white-space: nowrap;
    }

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #FFA500;
        transition: width 0.3s;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }

    @include breakpoint($tablet-bp) {
        &::after {
            background: $light-gray;
        }
    }
}