<header>
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="59" height="42" viewBox="0 0 59 42" fill="none">
                    <path d="M2.41669 22L14.0233 40L29.5 27L2.41669 22Z" stroke="#00C1EC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M56.5833 22L44.9768 40L29.5 27L56.5833 22Z" stroke="#00C1EC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.6042 40H44.3959L29.5 27L14.6042 40Z" stroke="#00C1EC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.25 24L29.5 2L45.75 24" stroke="#00C1EC" stroke-width="4" stroke-linejoin="round"/>
                </svg>
                <h2 class="header__title">Notitanic</h2>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">About me</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Portfolio</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Contact</a>
                    </li>
                </ul>
                <button class="burger" type="button" id="navToggle">
                    <span>Открыть навигацию</span>
                </button>
            </nav>
        </div>
    </div>
    <ul class="nav__list  nav__list--borger" id="navMobile">
        <li class="nav__item-one">
            <a class="nav__link" href="#">Home</a>
        </li>
        <li class="nav__item-two">
            <a class="nav__link  nav__link--wrap" href="#">About me</a>
        </li>
        <li class="nav__item-three">
            <a class="nav__link" href="#">Portfolio</a>
        </li>
        <li class="nav__item-four">
            <a class="nav__link" href="#">Contact</a>
        </li>
    </ul>
</header>
